$text: #373737;
$white: #ffffff;
$bg: #ffffff;

$blue-darken: #01579b;
$grey-darken: #999999;
$grey-lighten: #fafafa;

$shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.35);
$border: 2px solid $grey-lighten;
